@use "./variables" as *;

// * {
//   margin: 0;
//   padding: 0;
//   // border: 1px solid red;

// }

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: $font-size-body; // 13px
}