body {
background-color: #385A64;
background: linear-gradient( #5e928a, #0F9C86);
font-family: "Poppins", sans-serif;
}

.team {
	padding: 4rem 2rem;

	&__header {
		font-size: 2rem;
		color: white;
		text-align: center;
	}

	&__conatiner {
		display: flex;
		flex-direction: column;
		

	}
	&__names {
		display: flex;
		justify-content: space-between;	
		line-height: 1rem;
		padding: 1rem;
		height: 4rem;

	}
	&__subtitle {
		color: white;
		font-size: 2rem;
		padding-bottom: 1rem;
	}

	&__presentation {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		margin-top: 2rem;
	}
	&_para {
		font-size: 1.125rem;
		width: 60%;
		line-height: 2.125rem;
	} 
}